@model PRMS.DATA.EF.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
