@model IEnumerable<PRMS.DATA.EF.Vehicle>

@{
    ViewBag.Title = "vehicles";
}

<h2>vehicles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOutOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInMaint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOutOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsInMaint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleID })
        </td>
    </tr>
}

</table>
